<html>

<head>
    <title>ClamAV report</title>
</head>

<body>
<table border="1" width="100%">
<caption>Time: {{data.time}}<br>Directory: {{data.dir}}<br>Host:  {{data.host}} </caption>
{% for item in data.data %}
<tr>
   <td>{{item[0]}}</td>
   <td>{{item[1]}}</td>
</td>
{% endfor %}
</table>
</body>

</html>
